* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
}

.image-box {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}
.image-box__title {
  width: 100%;
  min-height: 45px;
  text-align: center;
  font-size: 20px;
}
.image-box__btn {
  display: block;
  margin: 0 auto;
  padding: 6px;
  background-color: #b4d4e2;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.image-box__btn:hover {
  background-color: #cee8ec;
}
.image-box__img {
  width: 100%;
  height: 200px;
  border: 2px solid #f1ecec;
  -webkit-box-shadow: 2px 2px 2px #7b7a7a;
          box-shadow: 2px 2px 2px #7b7a7a;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.counter {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #7b7a7a;
}
.counter:hover {
  color: #323051;
  cursor: pointer;
}

.counter span {
  color: #0c0b0b;
}