*{
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}
.image-box{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    &__title{
        width: 100%;
        min-height: 45px;
        text-align: center;
        font-size: 20px;
    }
    &__btn{
        display: block;
        margin: 0 auto;
        padding: 6px;
        background-color: #b4d4e2;
        border-radius: 10px;
        transition: all .2s;
        &:hover{
            background-color: #cee8ec;
        }
    }
    &__img{
        width: 100%;
        height: 200px;
        border: 2px solid rgb(241, 236, 236);
        box-shadow: 2px 2px 2px rgb(123, 122, 122);
        border-radius: 5%;
        object-fit: cover;
        margin-bottom: 10px;
    }
}
// ========== counter =======
.counter{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color:rgb(123, 122, 122);
    &:hover{
        color:rgb(50, 48, 81);
        cursor: pointer;
    }
}
.counter span{
    color:rgb(12, 11, 11);
}